<?xml version="1.0"?>
<!--
/**
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 * Copyright 2022 Adobe
 * All Rights Reserved.
 *
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Adobe permits you to use and modify this file
 * in accordance with the terms of the Adobe license agreement
 * accompanying it (see LICENSE_ADOBE_PS.txt).
 * If you have received this file from a source other than Adobe,
 * then your use, modification, or distribution of it
 * requires the prior written permission from Adobe.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="casiojp_orico" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Orico Payment</label>
            <tab>casio</tab>
            <resource>CasioJP_Orico::config</resource>
            <group id="orico_checkout" showInDefault="1" showInWebsite="1" showInStore="1"  sortOrder="2" translate="label" canRestore="0">
                <label>Checkout</label>
                <field id="orico_description" translate="label comment" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Description</label>
                </field>
                <field id="orico_order_status" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
            </group>
            <group id="orico_thank_you_page" showInDefault="1" showInWebsite="1" showInStore="1"  sortOrder="3" translate="label" canRestore="0">
                <label>Thank you page</label>
                <field id="orico_warning_message" translate="label comment" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Warning message</label>
                </field>
                <field id="orico_label_of_button" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Label of button</label>
                </field>
                <field id="orico_title_for_approval_case" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title for approval case</label>
                </field>
                <field id="orico_guidance_for_approval" translate="label" type="textarea" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Guidance for approval</label>
                </field>
                <field id="orico_title_for_rejected_case" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title for rejected case</label>
                </field>
                <field id="orico_guidance_for_rejected_case" translate="label" type="textarea" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Guidance for rejected case</label>
                </field>
            </group>
            <group id="orico_api" showInDefault="1" showInWebsite="1" showInStore="0"  sortOrder="4" translate="label" canRestore="0">
                <label>API</label>
                <field id="orico_api_endpoint" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>API endpoint</label>
                </field>
                <field id="orico_client_number" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Client number(KAMEI_NO)</label>
                </field>
                <field id="orico_contract_number" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Contract number(KYAKU_SYU)</label>
                </field>
                <field id="orico_redirect_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Redirect url</label>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="orico" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Orico Payment Method</label>
                <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Order Total</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <config_path>payment/orico/sort_order</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
